* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #070707;
}
.wrapper {
	max-width: 420px;
	min-height: 96vh;
	margin: 0 auto;
}

button {
	font-size: 2rem;
	cursor: pointer;
	border-radius: 2px;
	/* background-color: rgb(83, 81, 81); */
	background-color: #222121;
}

button:active {
	background-color: rgb(214, 209, 209);
}
button:focus {
	outline: none;
}
.modifiers button {
	border: none;
	color: orange;
}
.operations button {
	color: orange;
	width: 100px;
	border: none;
}

.digits button {
	border: 1px solid #343434;
	background-color: black;
	color: #f4f1f1;
}
.digits button:active {
	background-color: rgb(214, 209, 209);
}
@media (min-width: 225px) {
	.operations button {
		color: orange;
		width: 120px;
		border: none;
	}
	.digits button {
		border: 1px solid #343434;
		background-color: black;
		color: #f4f1f1;
		width: 120px;
	}
}
/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
	display: grid;
}
.wrapper {
	grid-template-areas:
		"total total total total"
		"modif modif modif oper"
		"digit digit digit oper"
		"digit digit digit oper"
		"digit digit digit oper"
		"digit digit digit oper";
	grid-auto-columns: 1fr;
}
.show-input {
	grid-area: total;
	background-color: black;
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	border: 1px solid #343434;
	width: 25.8rem;
	min-height: 5rem;
	color: #f4f1f1;
}
.render-chat {
	font-size: 13px;
}
.modifiers {
	grid-area: modif;
}
.operations {
	grid-area: oper;
}
.digits {
	grid-area: digit;
}

.show-input {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 2rem;
}

.modifiers {
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
}

.digits {
	display: flex;
	flex-wrap: wrap;
}
.digits button {
	flex: 1 0 26%;
}
